<div class="row">
  <div class="col-xs-12">
    <div class="card mb-3">
      <img class="card-img-top" src="{{ recipe.imagePath }}" alt="{{ recipe.name }}" height="300px">
      <div class="card-body">
        <h4 class="card-title">{{ recipe.name }}</h4>
        <div class="card-text">{{ recipe.description }}</div>
        <div class="card-text">
          For preparing this you need below items
          <ul class="list-group m-2">
            <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
              {{ingredient.name}} - {{ ingredient.amount}}
            </li>
          </ul>
        </div>
      </div>
      <div class="card-footer">
        <div class="dropdown" appDropdown>
          <button type="button" class="btn btn-primary dropdown-toggle" role="button" data-toggle="dropdown">
            Manage Recipe
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" (click)="onAddToShoppingList()" role="button" data-toggle="dropdown">Add to
              shopping list</a>
            <a class="dropdown-item" data-toggle="dropdown">Edit</a>
            <a class="dropdown-item" data-toggle="dropdown">Delete</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
